@import 'style';
@import 'react-toastify/scss/main.scss';
@import 'toastify';
@import './components/mixins';
@import '../scss/components/letterHead.scss';
@import '../scss/components/ebpsSetup.scss';
@import '../scss/components/imageDisplay.scss';
@import '../scss/components/forms.scss';
@import '../scss/components/_fingerPrint.scss';
@import '../scss/components/_navbar.scss';
@import '../scss/components/_profilePage.scss';
@import '../scss/components/_common.scss';
@import '../scss/components/_appListTable.scss';
@import '../scss/components/_print.scss';
@import '../scss/components/_dashboard.scss';
@import '../scss/components/historyCommets';
@import '../scss/components/tables';
@import '../scss/components/sidebar';
@import '../scss/components/messages';
@import '../scss/components/buttons';

body {
	font-family: $fontFamily;
	.ui.form input[type='text'],
	input:not([type]),
	input[type='number'] {
		font-family: $fontFamily;
	}
	.ui.form input.english-div-field[type='text'],
	input.english-div-field[type='number'] {
		font-family: $fontFamilyEnglish;
	}
	.english-div {
		.ui input[type='text'],
		input:not([type]),
		input[type='number'] {
			font-family: $fontFamilyEnglish;
		}
	}
}

.ui.mini.statistic > .value,
.ui.mini.statistics .statistic > .value {
	font-family: $fontFamily;
	font-size: 0.9em !important;
}
.ui.statistic > .label,
.ui.statistics .statistic > .label {
	font-family: $fontFamily;
	font-size: 0.9em !important;
	max-width: 170px;
}

.ui.form .field > label {
	padding-top: 20px;
}

.jqx-widget-content {
	.jqx-widget-header.jqx-grid-header,
	.jqx-grid-content.jqx-widget-content {
		font-family: $fontFamily;
	}

	.jqx-grid-cell-filter-row input {
		font-family: $fontFamily;
	}
}

.english-div {
	font-family: $fontFamilyEnglish;
	// th,
	// td,
	// tr,
	// p,
	h5 {
		font-family: $fontFamilyEnglish;
	}
	.ui.form input[type='text'],
	input:not([type]),
	input[type='number'] {
		font-family: $fontFamilyEnglish;
	}

	.jqx-grid-cell-middle-align {
		font-family: $fontFamilyEnglish;
	}
}

// .ui.button {
//   margin-top: 20px;
// }
.ui.center.aligned.header {
	color: $app-primaryColor !important;
	font-weight: bold !important;
}

.ui.loginButton .button {
	background-color: $app-primaryColor !important;
}

.mainContent-front {
	padding: 5.9rem 0 4.8rem;
}

.main-heading {
	color: red !important;
	text-align: center;
}

// CSS OR HOME PAGE CONTENT DESIGN
// --------------------------------------------------------------------------
.content-download {
	padding-top: 90px;
	padding-left: 80px;
	padding-right: 80px;
}

.publicSection {
	padding-top: 90px;
	width: auto;
	padding-left: 8px;
	padding-right: 8px;

	.head {
		text-align: center;
	}
}

.col-header-download {
	font-size: 1.6rem;
	color: #2a3554;
	padding-bottom: 3px;
	border-bottom: 1px dashed #9e9e9e;
	font-weight: bold;
}

.download-content {
	padding-top: 5px;
}

.faq-header {
	font-size: 1.25rem;
	color: #1a88b5;
	font-weight: bold;
	margin-bottom: 10px;
}

.faq-data {
	font-size: 1rem;
	line-height: 1.42857143;
	color: #333;
}
// ------------------------------------------------------------------

.ui.ebpsMain-header {
	background: $app-primaryColor !important;
	z-index: 9999 !important;
	.item {
		font-size: 14px;
		font-weight: 500 !important;

		&:first-child {
			padding: 0 1.14285714em;
			i.icon {
				margin: 0;
				cursor: pointer;
				color: #fff;
			}
		}
		&:nth-of-type(2) {
			padding: 0 1.14285714em;
		}
	}

	.sidebar .item {
		padding: 0.92857143em 1.14285714em;
	}

	.ui.header {
		font-family: $fontFamily;
		padding: 8px 0 5px;
		.logo-div {
			display: inline-flex;
			align-items: center;
		}
		.comp-logo {
			width: 32px;
			margin: 0 5px 0 0;
		}
		a {
			color: #fff;
		}
	}

	.header-date {
		font-size: smaller !important;
		font-weight: bold !important;
	}
}

#home,
#downloads,
#faq,
#regdesigner,
#regmason,
#contact {
	height: 100%;
}

.site-footer {
	text-align: center;
	padding: 0.5rem 0;
	background: $app-primaryColor;
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	font-size: 0.9rem;
}

.adminLogin-form {
	.button {
		background-color: $app-primaryColor !important;
		color: white !important;
		position: relative;
		.ui.inline.loader {
			position: absolute;
			margin: -12px 0 0;
			left: auto;
			top: 50%;
			right: 12px;
		}
		.ui.inline.loader.active:after {
			border-color: white transparent transparent !important;
		}
	}
}

.main-sidebar-navigation {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 47px 0;
	background: $app-secondaryDarkColor;
	// background: #1B1C1D;
	width: 250px;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-x: hidden;
	.sidebarSearchBar {
		padding: 10px 10px 15px;
		.ui.input {
			width: 100%;
			input {
				background: rgba(255, 183, 183, 0.11);
				height: 40px;
				font-size: 14px;
				color: rgba(255, 255, 255, 0.8);
				border: none;
				&::-webkit-input-placeholder {
					color: rgba(255, 255, 255, 0.87);
				}
			}
		}
	}
	.header-removemargin {
		margin: 0 !important;
		color: #888 !important;
		padding: 8px 20px !important;
		background: #333342;

		.icon {
			font-size: 1rem !important;
			margin-bottom: 0.68rem !important;
		}
	}

	.sidebar-navigation {
		flex: 1;
		overflow-y: scroll;
		.sidebar-primary-menus {
			li {
				i {
					color: white;
				}
				list-style-type: none;
				display: block;
				font-size: 13px;
				color: rgba(255, 255, 255, 0.87);
				&:hover,
				&.active {
					color: rgb(0, 0, 0);
					background-color: #4a415b;
					// margin-top: 1px;
				}
				a {
					display: inline-block !important;
					width: 100%;
					padding: 3px 20px;
					display: block;
					color: rgba(255, 255, 255, 0.87);
					&.active {
						background: #574c6b;
					}
				}
				&.has-children {
					position: relative;
					.span-link {
						// margin: 10px;
						display: inline-block !important;
						width: 100%;
						padding: 6px 20px 2px 20px;
						background-color: transparent;
						&:hover {
							color: white;
							cursor: pointer;
						}
					}
					.has-item-children {
						color: #fff;
						// &:hover,
						// &.active {
						// 	// color: rgb(0, 0, 0);
						// 	// background-color: rgba(255, 255, 255, 0.87);
						// }
					}
					li {
						a {
							color: #cebceb;
						}
						padding: 0px 10px;
						&:hover a {
							color: white;
						}
					}
					ul {
						// background: rgba(255, 255, 255, 0.12);
						border-radius: 4px;
					}
					.sub-toggle {
						position: absolute;
						top: 0px;
						right: 0;
						font-size: 19px;
						line-height: initial;
						background: rgba(0, 0, 0, 0.3);
						padding: 0 5px;
						cursor: pointer;
						border-radius: 4px;
					}
				}
			}
		}
	}
	+ .site-main {
		margin-left: 250px;
	}
	+ .site-main-setup {
		margin-top: 10px;
		margin-left: 250px;
	}
}

.public-main {
	// margin-top: 3.8em;

	.public-div {
		padding: 4.345em 1.3em;
		background: rgba(0, 0, 0, 0.03);
		min-height: 768px;
	}
	.content {
		padding: 1.5em;
	}
}

.main-content {
	margin-top: 30px;
}

.site-main {
	padding: 4.345em 1.3em;
	background: rgba(0, 0, 0, 0.03);
	min-height: 768px;
}

.information-bar {
	.ui.segment {
		background: #e7e4ec;
		box-shadow: none;
		border-color: rgba(34, 36, 38, 0.08);
	}
	.infoBarTitle {
		p {
			margin: 0 !important;
			padding: 7px 0 0;
			font-family: $fontFamily;
		}
	}
	.tableListFilterMenu {
		text-align: right;
		.ui.menu {
			border: none;
			box-shadow: none;
			border-radius: 0;
			min-height: inherit;
			display: block;
			background: none;
			a {
				display: inline-block;
				padding: 4px 15px;
				color: #fff;
				background: $btn-primaryBgColor;
				border-radius: 4px;
				margin: 0 5px;
				&:hover,
				&:focus {
					background: $btn-hoverColor;
					color: #eee;
				}
			}
		}
	}
}

.nepalGov-logo {
	display: inline-flex;
	width: 120px;
	vertical-align: middle;
	margin: 0 5px 0 0;
	position: relative;
}

.mapRegistration-dataTableList {
	// padding: 1.5rem 0 0;
	.ui.form {
		text-align: right;
		margin: 0 0 1.5rem;
		z-index: 999;
	}
	.pointer {
		cursor: pointer;
	}
}

.buildingPermit-applicationForm {
	padding: 4rem 0 0;
	.ui.form {
		.equal {
			display: inline-block;
			width: 25%;
			margin: 0;
			vertical-align: top;
			.field > span {
				display: block;
				margin: 0 0 0.2rem;
			}
		}
		.select-forForm {
			display: inline-block;
			min-width: 8rem;
			margin: 0 1rem 0.7rem 0;
			.equal {
				width: auto;
				margin: 0;
			}
		}
	}
	.app-subjectTitle {
		text-align: center;
	}
	.mohodaye {
		display: block;
		margin: 0 0 1rem;
	}
	.formFeild-mainLabel {
		margin: 1rem 0 1rem !important;
	}
	.sewageMgmt {
		margin: 0.3rem 0 1.2rem;
	}
}

.mapview-tapsil {
	margin: 0 !important;
}

.mapview-header {
	margin: 5px 0 !important;
}

.mapview-floor {
	margin: 5px 0 0 20px !important;
}

.buildingPermit-view {
	padding: 0.5rem 0 0;
	margin-top: 30px;
	.ui.form {
		.equal {
			display: inline-block;
			width: 25%;
			margin: 0 0 1.2rem;
			vertical-align: top;
			.field > span {
				display: block;
				margin: 0 0 0.2rem;
			}
		}
		.select-forForm {
			display: inline-block;
			min-width: 8rem;
			margin: 0 1rem 0.7rem 0;
			.equal {
				width: auto;
				margin: 0;
			}
		}
	}
	.app-subjectTitle {
		text-align: center;
	}
	.mohodaye {
		display: block;
		margin: 0 0 1rem;
	}
	.formFeild-mainLabel {
		margin: 1rem 0 1rem !important;
	}
	.sewageMgmt {
		margin: 0.3rem 0 1.2rem;
	}
}

.anusuchika-Form {
	.select-forForm {
		display: inline-block;
		min-width: 8rem;
		margin: 0 1rem 0.7rem 0;
	}
}

.anusuchiga-Form {
	.select-forForm {
		display: inline-block;
		min-width: 8rem;
		margin: 0 1rem 0.7rem 0;
	}
}

.view-Form {
	.select-forForm {
		display: inline-block;
		min-width: 8rem;
		margin: 0 1rem 0.7rem 0;
	}
}

.anusuchigha-Form {
	.select-forForm {
		display: inline-block;
		min-width: 8rem;
		margin: 0 1rem 0.7rem 0;
	}
}

.mapTech-Form {
	.select-forForm {
		display: inline-block;
		min-width: 8rem;
		margin: 0 1rem 0.7rem 0;
	}
}

.floorDetails-Form {
	.select-forForm {
		display: inline-block;
		min-width: 8rem;
		margin: 0 1rem 0.7rem 0;
	}
}

.municipal-header-view {
	color: red;
	font-size: 35px;
	margin-left: 20rem;
	white-space: nowrap;
	font-weight: 1000;
}

.municipal-subheader-view {
	color: red;
	font-size: 18px;
	margin-left: 22.5rem;
	white-space: nowrap;
	font-weight: 500;
}

.municipal-subheader_2-view {
	color: red;
	font-size: 13px;
	margin-left: 25rem;
	white-space: nowrap;
	font-weight: 200;
}

.frmCheckbox-wrap {
	padding: 0 0 1.2rem;
	> span {
		margin: 0 1rem 0 0;
	}
	.checkbox {
		margin: 0 1rem 0 0;
	}
}

.alignment {
	// margin-top: 10px !important;
	line-height: 36px !important;
	text-align: center !important;
}

.frmRadioButton-wrap {
	padding: 0;
	> span {
		margin: 0 1rem 0 0;
	}
	.checkbox {
		margin: 0 1rem 0 1.8rem;
	}
}

.buildingPermit-applicationForm .ui.form .frmCheckbox-wrap .equal {
	margin: 0;
	vertical-align: middle;
}

.EbpsCustomSelect {
	.ui.selection.dropdown {
		width: 100%;
	}
}

.zIndexSelect {
	.ui.selection.dropdown {
		width: 100%;
		z-index: 30 !important;
	}
}

.zIndexSelect.compact {
	.ui.selection.dropdown {
		min-width: 6em !important;
		z-index: 30 !important;
	}
}

.sewageMgmt {
	span {
		vertical-align: -webkit-baseline-middle;
	}
}

.elecMgmt {
	span {
		vertical-align: -webkit-baseline-middle;
	}
}

.buildingPermit-applicationForm {
	.ui.form {
		.petitionerDetails {
			.petitionerSignature {
				margin: 0 0 1.2rem;
			}
			.equal {
				padding: 0 1em 0 0;
				.field {
					padding: 0;
					> span {
						display: inline-block;
						min-width: 25%;
						vertical-align: middle;
					}
				}
				.bpf-inputType {
					display: inline-block;
					margin: 0;
					width: 75% !important;
					vertical-align: middle;
				}
			}
		}
	}
}

.ui.radio.checkbox.prabidhik {
	margin: 0 0 0 15px !important;
}

.ui.checkbox.prabidhik {
	margin: 0 0 0 15px !important;
}

.ui.form .inline.fields {
	margin: 0 !important;
	align-items: center;
}

.mapTech-applicationForm {
	.ui.form {
		.petitionerDetails {
			.petitionerSignature {
				margin: 0 0 1.2rem;
			}
			.equal {
				// padding: 0 1em 0 0;
				.field {
					padding: 0;
					> span {
						display: inline-block;
						min-width: 25%;
						vertical-align: middle;
					}
				}
				.mtdv-inputType {
					display: inline-block;
					margin: 0 !important;
					padding: 0 !important;
					width: 75% !important;
					vertical-align: middle;
				}
			}
		}
	}
}

.neighbours-para {
	margin-top: -10px !important;
	line-height: 1.2em !important;
}

.super-li-para {
	margin-top: -14px !important;
	line-height: 1.2em !important;
}
.superstructure-li {
	margin-top: -6px !important;
	line-height: 1.2em !important;
}

.neighbours-para-note {
	margin-top: -20px !important;
	line-height: 1.2em !important;
}

.super-li-para-note {
	margin-top: -25px !important;
	line-height: 1.2em !important;
}

.superstructure-li-note {
	margin-top: -28px !important;
	line-height: 1.2em !important;
}

.div-ko-para {
	margin-top: 0px !important;
	line-height: 1.2em !important;
}

.date-para {
	margin-top: 5px !important;
	line-height: 1.2em !important;
}

.building-finish-7 {
	// margin-top: -20px !important;
	line-height: 1.2em !important;
	margin-left: 10px;
}

//////////////Kankai Prabidhik////////////
.kankai-para {
	margin: 0 !important;
}

////////////NayaJhanchPachiForm//////////
.NJ-Main {
	padding: 3rem 0;

	.NJ-header {
		// padding-bottom: -2rem;
		text-align: left;
		margin-top: -32px;
	}

	.NJ-title {
		text-align: center !important;
		margin-bottom: 2px !important;
	}
	p.NJ-para {
		margin-bottom: 1px !important;
	}

	.NJ-right {
		display: flex;
		justify-content: flex-end;
		label {
			transform: translateY(0.7rem);
			padding-right: 1rem;
		}

		input[type='date']::-webkit-calendar-picker-indicator {
			display: none;
		}
	}
	p.NJ-right {
		margin-bottom: 1.2px !important;
	}
}

.NayaJhanchPachi {
	margin-bottom: 4rem;

	.checkbox {
		margin-right: 1rem;
	}

	input:focus {
		border: 1px solid rgba(34, 36, 38, 0.85) !important;
	}
}

.ui.form {
	.archDesign-classBForm {
		.inline.fields {
			margin: 0;
		}
	}
}

.rajaswoDetailViewFormWrap {
	.ui.form .fields {
		margin: 0;
	}
	.rajaswoMain-heading {
		text-align: center;
		margin-bottom: 1.4rem !important;
	}
	.rajasoMain-desc {
		text-align: center;
		padding: 0 20rem;
		margin-bottom: 3rem !important;
	}
	.rajaswoForm-wrap {
		h3 {
			text-align: center;
		}
		.ui.form .fields {
			margin: 0;
		}
		.ui.tableFirst {
			margin-bottom: 0;
		}
		.ui.tableSecond {
			margin-top: 0;
			border-top: none;
			> tr td {
				border-top: none;
			}
		}
		.rajaswosSubForm {
			margin: 0 0 1rem;
			border: 1px solid rgba(34, 36, 38, 0.15);
			padding: 1rem;
			&.forRajaswoOffice,
			&.forLawOffice {
				h3 {
					text-align: center;
				}
			}
			.inline.fields,
			p {
				margin: 0 !important;
			}
			textarea {
				resize: none;
				height: 8rem !important;
				border: 1px dashed rgba(34, 36, 38, 0.5);
				&:focus {
					border-color: rgba(34, 36, 38, 0.5);
				}
			}
		}
		h3 {
			margin: 0 0 1.4rem !important;
			span {
				border-bottom: 2px solid $btn-primaryBgColor;
				padding: 0 0 0.2rem;
			}
		}
	}
}

.ui.form .dashedForm-control {
	padding: 0 0.8rem;
	input[type='text'] {
		border: none;
		border-bottom: 1px dashed rgba(34, 36, 38, 0.5);
		border-radius: 0;
		padding: 0;
		display: inline-block;
		width: auto;
		background: none;
		&:focus {
			border-radius: 0;
			border-color: rgba(34, 36, 38, 0.5);
			background: none;
		}
	}

	&.error input[type='text'] {
		border-color: #e0b4b4;
		background: #fff6f6;
	}
}

.ui.form .compact-form {
	padding: 0 0.5em !important;
}

.ui.form .dashedForm-control[type='text'] {
	margin: 0 0.8rem;
	border: none;
	border-bottom: 1px dashed rgba(34, 36, 38, 0.5);
	border-radius: 0;
	padding: 0;
	display: inline-block;
	width: auto;
	background: none;
	&:focus {
		border-radius: 0;
		border-color: rgba(34, 36, 38, 0.5);
		background: none;
	}
}

.ui.form .inline-group {
	display: inline-block !important;
}

div#contenttableJqxDataTablejqx46b85cbc5251 table tbody tr {
	cursor: pointer !important;
	&:hover td {
		color: #2385d0 !important;
		background: rgba(0, 0, 0, 0.04) !important;
	}
}

// .noticePayAppForomWrap {
.noticePay-heading {
	text-align: center;
	span {
		border-bottom: 2px solid $btn-primaryBgColor;
		padding: 0 0 0.2em;
	}
}
.appToDesc {
	margin: 0 0 3rem;
}
.ui.form .sandhiyarGrid-wrap {
	h3 {
		margin: 1.4rem 0 !important;
		span {
			border-bottom: 2px solid $btn-primaryBgColor;
			padding: 0 0 0.2em;
		}
	}
	.inline.fields {
		margin: 0;
	}
}
.sachivArea {
	float: right;
	margin: 0 0 0.8em;
}
p.tanMuchulkaFooter {
	clear: right;
}
// }

// .ui.labeled.input input.smallInput {
// width: 80px;
// }

.buildingPermit-applicationForm .ui.form .field .ui.input {
	width: 80px !important;
}

.tablewidth {
	width: 180px !important;
}

.firstalign {
	display: flex;
	justify-content: space-between;
}

.noteOrderPilenth-wrap,
.superStruConsView {
	.tipandi-letterHead {
		text-align: center;
		position: relative;
		.tipandiMain-heading {
			margin: 0 0 1rem !important;
			color: #e6130b !important;
			span {
				padding: 0;
				display: block;
			}
			.nepal-sarkar-logo {
				position: absolute;
				top: 0;
				left: 0;
				padding: 0;
				width: 6rem;
			}
		}
		address {
			font-style: normal;
			margin: 0 0 1rem;
			h3 {
				margin: 0 0 0.5rem !important;
			}
		}
		.tipandi-title {
			margin: 0 0 1.2rem !important;
			span {
				border-bottom: 2px solid $btn-primaryBgColor;
			}
		}
	}
	.tipandi-date {
		text-align: right;
		margin: 0 0 1rem;
	}
	.orgName {
		text-align: center;
		margin: 0 0 1.8rem !important;
	}
	h3.tipandiSubject {
		text-align: center;
		margin: 0 0 3rem !important;
		span {
			border-bottom: 2px solid $btn-primaryBgColor;
			// padding: 0 0 2px;
		}
	}

	h3.section-header-with-bottom-border {
		text-align: center;
		span {
			border-bottom: 2px solid $btn-primaryBgColor;
		}
	}

	.mainTipandi-content {
		line-height: 2.3rem !important;
	}
	.letter-Footer {
		float: right;
		list-style-type: none;
		padding: 1rem 0;
		li {
			padding: 0 0 0.5rem;
			span {
				min-width: 3rem;
				display: inline-block;
			}
		}
	}
	.sandhiyarFooter {
		margin: 0 0 1.5rem;
		clear: both;
		h3 {
			margin: 0 0 0.8rem !important;
		}
		ul {
			list-style-type: none;
			li {
				padding: 0 0 0.5rem;
				span {
					min-width: 3rem;
					display: inline-block;
				}
			}
		}
	}
}

.borderlessFieldset {
	border: none;
	// padding: 0;
	// margin: 0;
	// min-width: 0;
}

.pilenthLevelTechViewWrap,
.pilenthLevelOwnerViewWrap {
	.pilenthLevelHeadingWrap {
		margin: 0 0 5rem;
	}
	.ui.form {
		ol {
			list-style-type: none;
			margin: 0 0 1.25rem;
			li {
				margin: 0 0 0.5rem;
				.dashedForm-control[type='text'] {
					width: 100%;
				}
				.ui.radio.checkbox {
					margin: 0 0 0 0.8rem;
					label {
						padding: 0 0 0 1.6rem;
					}
				}
			}
		}
		.inline.field > :first-child {
			padding: 0 !important;
		}
	}
	.pilenthTech-headingFirst,
	.pilenthTech-headingSecond {
		text-align: center;
		margin: 0 0 1.5rem !important;
		span {
			border-bottom: 2px solid $btn-primaryBgColor;
			padding: 0 0 0.2rem;
		}
	}
}

span.ui.input.dashedForm-control {
	border-bottom: 1px dashed rgba(34, 36, 38, 0.5);
	min-width: 150px;
	margin: 0 0.8rem;
	line-height: 1.21428571em;
	padding: 0;
}

.historyContent-wrap {
	position: fixed;
	background: #fff;
	top: 0;
	right: 0;
	max-width: 300px;
	height: 100%;
	z-index: 9999;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	.historyTrigger {
		position: absolute;
		top: 50%;
		right: 100%;
		height: 50px;
		width: 50px;
		text-align: center;
		line-height: 50px;
		border-radius: 50% 0 0 50%;
		background: #fff;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
		cursor: pointer;
		font-size: 14px;
		color: $btn-primaryBgColor;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			width: 15px;
			height: 100%;
			background: #ffffff;
		}
		i {
			margin: 0;
		}
	}
	.mainHistoryContent {
		padding: 1rem 1.5rem;
		h3 {
			border-bottom: 2px solid $btn-primaryBgColor;
			padding: 0 0 0.15rem;
			margin: 0 0 1.5rem !important;
		}
	}
}

.sdcbFormContentWrap {
	.ui.form {
		.field {
			margin: 0 0 0.2rem;
		}
		.ui.checkbox {
			margin: 0 0.8rem 0 0;
		}
		.checkboxWithInputField {
			strong {
				color: rgba(0, 0, 0, 0.87);
			}
			.dashedForm-control[type='text'] {
				width: 52px;
				margin: 0 4px;
				text-align: center;
			}
		}
		.materialSpecsRow {
			input[type='text'] {
				margin: 0.4rem 0;
			}
			.field {
				padding: 0.87rem 0;
				margin: 0;
				border-bottom: 1px solid #e8e9e9;
				&:last-child {
					border: none;
				}
			}
		}
	}
	.ui.table {
		&.sdcbFirstTable,
		&.sdcbSecondTable,
		&.sdcbThirdTable,
		&.sdcbFourthTable,
		&.sdcbFifthTable,
		&.sdcbSixthTable {
			margin: 0;
			border-bottom: none;
		}
	}

	.ui.table.sdcbSeventhTable {
		margin-top: 0;
	}
	.sdcbForm-heading {
		margin: 0 0 3rem;
		h3,
		h5 {
			margin: 0 0 1rem !important;
			span {
				border-bottom: 2px solid $btn-primaryBgColor;
				padding: 0 0 0.2rem;
			}
		}
	}
}

.sanitPlum-topHeading {
	text-align: center;
	h3,
	h4 {
		margin: 0 0 1rem !important;
		span {
			padding: 0 0 0.1rem;
			border-bottom: 2px solid $btn-primaryBgColor;
		}
	}
}

.sanitaryPlumbingContent-wrap .ui.table tr > td:first-child strong + .field {
	display: inline-block;
	margin-left: 10px;
}

.superStruConsView {
	.letterPetionerHead,
	.superStruSabikInfo {
		margin: 2rem 0;
	}
	ol {
		list-style-type: none;
		margin: 0 0 3rem;
		li {
			padding: 0.4rem 0;
			.ui.radio.checkbox {
				margin: 0 0 0 15px;
				label {
					padding-left: 20px;
				}
			}
		}
	}
	.superStruFormFoot {
		margin: 6rem 0 3rem;
		span.ui.input.dashedForm-control {
			margin: 0;
		}
	}
}

//buildpermit
.field {
	input.success,
	textarea.success {
		border-color: rgb(25, 200, 25) !important;
		background-color: rgba(25, 200, 25, 0.1) !important;
	}
}

.ui.input.success input {
	border-color: rgb(25, 200, 25) !important;
	background-color: rgba(25, 200, 25, 0.1) !important;
}

.field.error input {
	background: #fff6f6 !important;
	border-color: #e0b4b4 !important;
	color: #9f3a38 !important;
}
.actionbar-sticky {
	.ui.sticky.fixed.top {
		top: 50px !important;
	}
}

// dosrocharan supervisor
ol.no-bullets {
	list-style-type: none;
}

.mapTech-Form .ui.form .inline.fields .field .prompt {
	vertical-align: middle;
}

div#JqxWindowjqx46895d52efbd,
div#JqxWindowjqx35083d87e12d {
	z-index: 9999 !important;
}

//dashboard css for swrikrit
.approved {
	background-color: #21ba45 !important;
	color: #fff !important;
}

.disapproved {
	background-color: #db2828 !important;
	color: #fff !important;
}

.average {
	background-color: #ffae42 !important;
	color: #fff !important;
}

//dashboard css for taha
.designer {
	background-color: #11cbcb !important;
	color: #fff !important;
}

.amin {
	background-color: #7fff00 !important;
	color: #fff !important;
}

.subEngineer {
	background-color: #32cd32 !important;
	color: #fff !important;
}

.rajaswo {
	background-color: #3cb371 !important;
	color: #fff !important;
}

.engineer {
	background-color: #228b22 !important;
	color: #fff !important;
}

.admin {
	background-color: #006400 !important;
	color: #fff !important;
}

.completedTask {
	background-color: #00008b !important;
	color: #fff !important;
}

.active_application {
	background-color: #ffae42 !important;
	color: #fff !important;
}

.completed_application {
	background-color: #00008b !important;
	color: #fff !important;
}

.photo_img {
	height: 100px;
	width: 100px;
	// text-align: center;
	// padding-top: 40px;
	border: 1px solid #000;
	margin-left: 30px !important;
}

.title_certificate {
	//width: 320px;

	// border: 3px solid #e6130b !important;
	// margin: 20px;
	// // margin-bottom: 20px;
	// height: 35px;
	// width: 100px;

	display: flex;
	// align-items: center !important;
	justify-content: center !important;
	h3 {
		color: #e6130b !important;
		font-size: 20px !important;
		font-weight: bold !important;
	}
}

.title_certificate_2 {
	//width: 320px;

	// border: 3px solid #e6130b !important;
	// margin: 20px;
	// // margin-bottom: 20px;
	// height: 35px;
	// width: 100px;

	margin-top: -30px !important;
	display: flex;
	// align-items: center !important;
	justify-content: center !important;
	h3 {
		color: #e6130b !important;
		font-size: 20px !important;
		font-weight: bold !important;
	}
}

@mixin certificateTitle {
	color: #e6130b !important;
	font-weight: bold !important;
	text-align: center;
	margin: 0 !important;
}

.certificate-title {
	h2 {
		@include certificateTitle();
		font-size: 1.8rem !important;
	}

	h3 {
		@include certificateTitle();
		font-size: 1.45rem !important;
	}
}

.certificate-title-normal {
	h2 {
		font-size: 1.7rem !important;
		font-weight: bold !important;
		text-align: center;
		margin: 0 !important;
	}
}

.certificate-title-bordered {
	h2 {
		color: #e6130b !important;
		font-size: 2.5rem !important;
		font-weight: bold !important;
		text-align: center;
		margin: 0 !important;
	}
}

.title_box {
	//width: 320px;

	border: 3px solid #e6130b !important;
	margin: 20px;
	// margin-bottom: 20px;
	height: 35px;
	width: 100px;

	display: flex;
	// align-items: center !important;
	justify-content: center !important;
	h3 {
		color: #e6130b !important;
		font-size: 20px !important;
		font-weight: bold !important;
	}
}

.certificate-table {
	margin-top: -10px !important;
	table {
		display: table;
		border-collapse: separate;
		border-spacing: 2px;
		border-color: gray;
	}
	td {
		margin-top: -10px !important;
		padding-left: 25px !important;
		width: 20% !important;
	}
	th:first-child {
		text-align: left;
	}
}

.tabledata {
	table {
		display: table;
		border-collapse: separate;
		border-spacing: 2px;
		border-color: gray;
	}
	td {
		padding-left: 25px !important;
		width: 20% !important;
	}
	th:first-child {
		text-align: left;
	}
}
.fileStorageSegment {
	background-color: #644796 !important;
	font-size: 15px !important;
	color: white !important;
	letter-spacing: 1px;
}

.previewFileUpload {
	padding: 1rem 0 0;
	.eachPreviewFile {
		width: 60px;
		height: 50px;
		overflow: hidden;
		border: 1px dashed #9ca6b6;
		border-radius: 5px;
		padding: 2px;
		display: inline-block;
		margin-right: 10px;
		text-align: center;
		background: #fafafa;
		&:last-child {
			margin-right: 0;
		}
		img {
			width: 100%;
			object-fit: cover;
			height: 50px;
		}
		&.pdfFilePreview img {
			width: 43px;
			height: auto;
		}
		a {
			display: block;
		}
		&.viewFileSuccess {
			&:hover {
				border-color: #3fb854;
			}
			img {
				cursor: pointer;
			}
		}
	}
}

.ui.loader:after {
	border-color: #39009a transparent transparent !important;
}

.engCol {
	// background-color: blue !important;
	background-color: $app-primaryColor !important;
	color: white !important;
	// padding: 0px 0px 0px 10px !important;
	// border-radius: 4px !important;
	// font-size: 1em !important;
	// white-space: nowrap;
	// margin: 0px 10px !important;
}

.sengCol {
	// background-color: cornflowerblue !important;
	background-color: lighten($app-primaryColor, 20%) !important;
	color: white !important;
	// padding: 0px 0px 0px 10px !important;
	// border-radius: 4px !important;
	// font-size: 1em !important;
	// white-space: nowrap;
	// margin-right: 100px !important;
	// margin-left: 30px !important;
}

.rajosCol {
	// background-color: lightblue !important;
	background-color: lighten($app-primaryColor, 30%) !important;
	color: white !important;
	// padding: 0px 0px 0px 10px !important;
	// border-radius: 4px !important;
	// font-size: 1em !important;
	// white-space: nowrap;
}

.ui.green.label,
.ui.orange.label,
.ui.red.label {
	border-radius: 4px !important;
	// padding-left: 10px;
	// padding-top: 13px;
}
.structureC {
	width: 300px;
}

// .popups {
// 	// width: 550px;
// }

.coloricon {
	color: black !important;
}

.vertical_grid {
	transform: rotate(90deg);
	display: flex;
	margin: 0 4rem;

	.column {
		width: 300px !important;
	}

	.dashedForm-control {
		margin: 0 !important;
	}

	// p {
	//   position: absolute;
	//   top: 153px;
	//   left: 30%;
	// }
}
.login-background {
	background-color: white;
	border-radius: 2px;
	box-shadow: 0px 0px 10px rgb(10, 10, 10);
	width: 37% !important;
}

.login_home {
	position: absolute;
	top: 10px;
	cursor: pointer;
	height: 50px;
	width: 50px;
	padding: 12px 12px 12px 11px !important;
	left: 10px;
	border-radius: 50% !important;
	background: #644796 !important;

	.home.icon {
		font-size: 24px;
		color: #ffffff;
		&:hover {
			color: #eeeeee;
		}
	}

	&:hover {
		background: #745f97 !important;
	}
}

.shangrila input {
	font-family: $shangrila-font !important;
	font-size: 17px !important;
}

.dash-input,
.dash-input input {
	border: none !important;
	border-bottom: 1px dashed rgba(34, 36, 38, 0.5) !important;
	border-radius: 0 !important;
	padding: 0 !important;
	display: inline-flex !important;
	width: 100px !important;
	background: none !important;
	background-color: none !important;
}

.dash-input-compact,
.dash-input-compact input {
	border: none !important;
	border-bottom: 1px dashed rgba(34, 36, 38, 0.5) !important;
	border-radius: 0 !important;
	padding: 0 !important;
	display: inline-flex !important;
	width: 60px !important;
	background: none !important;
	background-color: none !important;
}

.eachPreviewFile {
	position: relative;
}

.closePdfFile {
	position: absolute;
	margin-left: 13px !important;
	// transform: translateX(-16px);
	cursor: pointer;
	top: -3px;
	z-index: 2000;
	color: #fb1919;
}

.closePdf {
	position: absolute;
	margin-left: 8px !important;
	transform: translateX(-16px);
	cursor: pointer;
	top: -3px;
	z-index: 2000;
	color: #fb1919;
}

.closeImg {
	position: absolute;
	// transform: translateX(15px);
	right: -1px;
	cursor: pointer;
	top: -1px;
	z-index: 2000;
	color: #fb1919;
}

.closeModal,
.ui.dimmer {
	z-index: 2000 !important;
}

.primaryButton {
	background-color: $app-primaryColor !important;
}
.build-gap p {
	margin: 0 !important;
}

.build-gaps p,
.build-gaps h3,
.build-gaps h2 {
	margin: 0 !important;
	padding-bottom: 6px !important;
}

.ui.ordered.steps .step::before {
	display: none !important;
}

.new {
	margin-top: -10px !important;
	thead tr:first-child > th:first-child,
	thead tr:first-child > th:last-child {
		width: 24% !important;
	}
}

.margin-minus-ten {
	margin-top: -10px !important;
}

.table-negative-margin {
	margin-top: -10px !important;
}

.legends {
	padding: 0.2em 0.5em;
	border: 1px solid #d4d4d5 !important;
	color: black;
	font-size: 100%;
	text-align: left;
}
.fieldsetDesign {
	p {
		margin-left: 19px !important;
	}
}

.full-line {
	display: block;
	width: 100%;
}

.jqx-widget-header {
	border-bottom: 1.5px solid #c5c5c5 !important;
}
.fieldLegend {
	background-color: #2a3554;
	color: #fff;
	padding: 3px 6px;
}

#reportID {
	z-index: 50;
}

.kankaiStyle {
	// padding: 160px 40px;
	margin: 0px;
	padding-top: 190px !important;
	padding-left: 50px;
	div {
		padding-right: 190px;
		display: flex;
	}
	li {
		list-style-type: none;
	}
}

.renew {
	padding: 0.5em !important;
	margin-bottom: 0.5em !important;
	.header:not(.ui) {
		font-size: 0.9em !important;
	}

	.icon {
		opacity: 1 !important;
		margin-right: 0.2em !important;
		font-size: 2.4em !important;
	}

	p {
		margin: 0 !important;
		line-height: normal !important;
		font-size: 0.855em !important;
	}
}

.compact-info-message {
	padding: 0.5em !important;
	width: auto !important;
	margin-bottom: 0.5em !important;
	.header:not(.ui) {
		font-size: 0.9em !important;
	}

	.icon {
		opacity: 1 !important;
		margin-right: 0.2em !important;
		font-size: 1.4em !important;
	}

	p {
		margin: 0 !important;
		line-height: normal !important;
		font-size: 0.875em !important;
		font-weight: 700;
	}
}

.renewBar {
	.header:not(.ui) {
		font-size: 1.36em !important;
	}

	.icon {
		opacity: 1 !important;
		margin-right: 0.2em !important;
		font-size: 2.4em !important;
	}

	p {
		margin: 0 !important;
		margin-top: 0.6em !important;
		line-height: normal !important;
		font-size: 1.15em !important;
	}
}

.renewModal {
	color: #9f3a38 !important;
	.header {
		color: #9f3a38 !important;
	}
	.icon {
		opacity: 1 !important;
		font-size: 1.45em !important;
		padding-right: 1em !important;
	}
	span {
		margin: 0 !important;
		margin-bottom: 1.4em !important;
		line-height: normal !important;
		font-size: 1.2em !important;
	}
}

.tableError {
	color: #9f3a38 !important;
	font-weight: 700;
	font-size: 0.84em;
}

.fit-content-select {
	min-width: fit-content !important;
}

.compact-form-input {
	width: 100px !important;
}

.header-date {
	font-size: smaller !important;
	font-weight: bold !important;
}

.search-form {
	margin: 0 20px;

	.search-header {
		@include headerWithIcon;
	}
}

.white-background {
	background-color: white !important;
}

.menu-dropdown {
	min-width: 150px !important;
	.icon {
		color: black !important;
	}
	// .ui.buttons > .ui.dropdown:last-child .menu,
	// .ui.menu .right.dropdown.item .menu,
	// .ui.menu .right.menu
	.dropdown:last-child .menu {
		left: 130px !important;
		right: unset !important;
	}
}
.ui.table.small-font {
	font-size: 0.8em;
}

.compact-select {
	.ui.selection.dropdown {
		min-width: auto;
	}
}

.raya-section {
	font-size: 1rem;
}

.recaptcha-branding {
	font-size: 0.7em;
	color: #000; /* Fallback for older browsers */
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 1em;
}

.grecaptcha-badge {
	visibility: hidden;
}
