@import 'fonts';

$app-fontSize: 16px;
$app-fontWeight: normal;
$app-primaryColor: #644796;
$app-primaryLightColor: #8F74BE;
$app-primaryDarkColor: #5e3e94;
$app-secondaryColor: #18bbcb;
$app-secondaryDarkColor: #2d2a2f;
$app-textColor: #000000;
$app-titleColor: #2a3554;
$app-placeholderColor: #a2afcd;
$app-strokeColor: #d7dfef;
$btn-primaryColor: #ffffff;
$btn-secondaryColor: #1f0322;
$btn-error: #da4167;
$btn-success: #45CB85;
$border-strokeColor: #dfe6f4;
$app-lineHeight: 1.5em;
$app-dangerColor: #ed3445;
$app-infoColor: #6080f9;
$btn-primaryBgColor: #f2711c;
$btn-hoverColor: #e0630f;
$fontFamily: $defaultFont, $pronova-regular, Arial, Helvetica, sans-serif !important;
$fontFamilyEnglish: $pronova-regular, Arial, Helvetica, sans-serif !important;

@mixin transition {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

@mixin site-btn {
	padding: 0.61em 1.875em !important;
	font-size: 0.94em !important;
	text-transform: uppercase !important;
	font-family: $fontFamily;
	background: $app-primaryColor !important;
	color: $btn-primaryColor !important;
	border: none !important;
	border-radius: 3.13em !important;
	min-width: 8em !important;
	min-height: inherit !important;
	line-height: inherit !important;
}

body {
	font-family: $fontFamily;
	font-size: $app-fontSize !important;
	font-weight: $app-fontWeight !important;
	line-height: $app-lineHeight !important;
	color: $app-textColor !important;
	background: none;
}

a {
	color: $app-secondaryColor;
	text-decoration: none;
	@include transition();
	&:hover,
	&:focus {
		text-decoration: none;
		color: $app-titleColor;
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1.88em !important;
	color: $app-titleColor !important;
	font-family: $fontFamily;
	position: relative;
	font-weight: normal !important;
}

h7 {
	margin: 0 0 1.5em !important;
	color: $app-titleColor !important;
	font-family: $fontFamily;
	position: relative;
	font-weight: normal !important;
	font-size: 1.08em !important;
}

h1 {
	font-size: 2.25em !important;
}

h2 {
	font-size: 1.5em !important;
}

h3 {
	font-size: 1.125em !important;
}

h4 {
	font-size: 1em !important;
}

h5 {
	font-size: 0.938em !important;
}

h6 {
	font-size: 0.875em !important;
}

p {
	line-height: 1.5em !important;
	margin: 0 0 1.25em !important;
}

ul,
ol,
figure,
address {
	margin: 0;
	padding: 0;
}

strong,
label {
	font-weight: $app-fontWeight;
	font-family: $fontFamily;
	color: $app-titleColor;
	font-weight: normal !important;
	span {
		font-family: $fontFamily;
		color: $app-textColor;
	}
}

img {
	max-width: 100%;
	max-height: 100%;
}

.site-btn {
	@include site-btn();
	&:hover,
	&:focus {
		background: $app-primaryDarkColor !important;
		border-color: $app-primaryDarkColor !important;
		color: #fff !important;
		box-shadow: none !important;
		outline: none !important;
	}
}
