@mixin appTable {
	display: flex;
	flex-direction: column;
	align-content: center;
	.app-table-header {
		@include headerWithIcon;
	}
	.field {
		font-size: 0.8em !important;
	}

	// App table status colors
	.approved {
		background-color: #21ba45 !important;
		color: #fff !important;

		//dashboard css for taha
		.designer {
			background-color: #11cbcb !important;
		}

		.amin {
			background-color: #7fff00 !important;
		}

		.subEngineer {
			background-color: #32cd32 !important;
		}

		.rajaswo {
			background-color: #3cb371 !important;
		}

		.engineer {
			background-color: #228b22 !important;
		}

		.admin {
			background-color: #006400 !important;
		}
	}

	.disapproved {
		background-color: lighten(#db2828, 13%) !important;
	}

	.pinned-disapproved {
		background-color: lighten(#db2828, 13%) !important;
		color: whitesmoke;
	}

	.average {
		background-color: #ffae42 !important;
	}

	.completedTask {
		background-color: #00008b !important;
		color: #fff !important;
	}

	.active_application {
		background-color: #ffae42 !important;
		color: #fff !important;
	}

	.completed_application {
		background-color: #00008b !important;
		color: #fff !important;
	}
}

.app-table {
	@include appTable;
	margin: 0 20px;
}

.app-table-task {
	@include appTable;
	margin: 0 5px;
}
