.danger-button .ui.button {
	background-color: $btn-error !important;
	color: white !important;
}

.light-button .ui.button {
	background-color: $app-primaryLightColor !important;
	color: white !important;
}

.danger-text-button .ui.button {
	color: $btn-error !important;
}

.light-text-button .ui.button {
	color: $app-primaryLightColor !important;
}
