@mixin fingerPrintBorder {
	border: 1px solid black !important;
	border-radius: 0em !important;

	thead th {
		padding: 0 !important;
	}

	th,
	td,
	tr {
		border: 1px solid black !important;
	}
}

.finger-print-table {
	display: flex;
	table {
		width: 152px !important;
		margin: 0 80px 0 0 !important;
		@include fingerPrintBorder();
	}

	.right-table {
		margin: 0 !important;
	}
}
.finger-print-table-biratnagar {
	display: flex;
	flex-wrap: wrap;
	table {
		width: 110px !important;
		margin: 0 5px 0 0 !important;
		@include fingerPrintBorder();
	}

	.right-table {
		margin: 0 !important;
	}
}

.finger-print-table-vertical {
	display: flex;
	table {
		width: 100px !important;
		margin: 0 40px 0 0 !important;
		@include fingerPrintBorder();
	}
}

.finger-print-div {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}

.finger-print-div-vertical {
	display: flex;
	flex-direction: row;
	// align-content: flex-start;
}
