.kalimati-feed-date {
	font-family: $fontFamily;
	font-size: 14px;
}

.ui.feed > .event > .content .extra.text {
	max-width: none !important;
}

.lang-selector {
	background-color: $app-primaryLightColor !important;
	i {
		color: white !important;
		font-size: 1.5em !important;
		margin-right: 0.4em !important;
	}
	span {
		color: white !important;
		font-size: 1.13em;
	}
	margin-top: 1em !important;
	margin-bottom: 0.5em !important;
}

.ui.form .text-area {
	border: solid $app-primaryColor 1px;
}