.compact-error-message {
	padding: 1em !important;
	width: auto !important;
	margin-bottom: 0.5em !important;
	.header:not(.ui) {
        // text-align: left;
		font-size: 1.15em !important;
	}

	.icon {
		opacity: 1 !important;
		margin-right: 0.3em !important;
		font-size: 2.4em !important;
	}

	p {
		margin: 0 !important;
		line-height: normal !important;
		font-size: 0.875em !important;
		font-weight: 700;
	}
}