.ui.menu .item.no-margin-menu-item {
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
	.profile-menu-post {
		font-size: 0.8em !important;
		font-weight: bold;
	}
	.menu-text {
		margin: 0 !important;
	}
}

.profile-menu-div {
	text-align: center;
}

.navbar-toggle {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	font-size: 24px;
}

@media screen and (min-width: 1000px) {
	.navbar-toggle {
		display: none !important;
	}
}

@media screen and (max-width: 1000px) {
	.navbar-items {
		display: none !important;
	}
}

.white-accordion {
	color: white !important;
}

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 9999; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background: $app-primaryColor !important; /* Purple*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 42px; /* Place content 60px from the top */
	transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

// /* The navigation menu links */
// .sidenav a {
// 	padding: 8px 8px 8px 32px;
// 	text-decoration: none;
// 	// font-size: 25px;
// 	color: #818181;
// 	display: block;
// 	transition: 0.3s;
// }

// /* When you mouse over the navigation links, change their color */
// .sidenav a:hover {
// 	color: #f1f1f1;
// }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 8px;
	right: 0px;
	color: #f1f1f1;
	cursor: pointer;
	// font-size: 36px;
	// margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.sidebar.menu {
	font-size: 12px !important;
}
