.no-page-break-inside {
	page-break-inside: avoid;
}

.print-small-font {
	@media print {
		font-size: 0.8em;
		.ui.table,
		table {
			font-size: 1em;
		}
	}
}

.show-on-print {
	div {
		display: none;
		@media print {
			display: block;
		}
	}
}

.page-break-before {
	page-break-before: always;
}

.data-padding {
	padding-left: 0.5em;
}

.dash-full-line-input,
.dash-full-line-input input {
	border: none !important;
	border-bottom: 1px dashed rgba(34, 36, 38, 0.5) !important;
	border-radius: 0 !important;
	padding: 2em 0 0 0 !important;
	display: block !important;
	width: 100% !important;
	background: none !important;
	background-color: none !important;
}