.compact-table {
	margin: 0 0 0.5em 0 !important;
	th,
	td {
		padding: 0.4em !important;
	}
	.fields {
		margin: 0 !important;
	}
	@media print {
		font-size: 1em;
	}
}

.small-font-print-table {
	@media print {
		font-size: 1em;
	}
}

.top-margin-print-cell {
	@media print {
		padding-top: 1.5em !important;
	}
}

.road-table {
	@media print {
		font-size: 0.8em;
		margin: 0 !important;

		thead th,
		td {
			max-width: 200px;
		}
	}
}

.borderless-table {
	table {
		border-collapse: collapse;
		border-spacing: 2px;
	}

	th,
	td {
		padding-left: 25px !important;
	}
}

.inline-table-el {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
