.tableSectionHeader {
	background-color: $app-primaryColor !important;
	font-size: 1em !important;
	font-weight: bolder;
	color: white !important;
	// letter-spacing: 1px;
	padding: 0.7em !important;
}

.simple-tab-pane {
	background: none !important;
	border: 0px !important;
}

.primary-btn {
	background-color: $app-primaryColor !important;
	color: white !important;
}

.ui.basic.button.basic-primary-btn {
	color: $app-primaryColor !important;
	font-weight: 600;
}

.secondary-btn {
	background-color: $btn-secondaryColor !important;
	color: white !important;
}

@mixin primary-table-btn {
	background-color: $app-primaryColor !important;
	font-size: 0.75rem !important;
	color: white !important;
}

@mixin success-table-btn {
	background-color: $btn-success !important;
	font-size: 0.75rem !important;
	color: white !important;
}

.primary-table-btn {
	margin: 0.5em 0 0.5em 1.8em !important;
	background-color: $app-primaryColor !important;
	font-size: 0.75rem !important;
	color: white !important;
}

.primary-table-single-btn {
	margin: 0.5em 0 0.5em 3em !important;
	background-color: $app-primaryColor !important;
	font-size: 0.75rem !important;
	color: white !important;
}

.danger-table-single-btn {
	margin: 0.5em 0 0.5em 3em !important;
	background-color: $btn-error !important;
	font-size: 0.75rem !important;
	color: white !important;
}

.primary-table-three-btn {
	margin: 0.5em 0 0.5em 1em !important;
	background-color: $app-primaryColor !important;
	font-size: 0.75rem !important;
	color: white !important;
}

.primary-table-two-btn {
	margin: 0.5em 0 0.5em 2.3em !important;
	@include primary-table-btn();
}

.success-table-three-btn {
	margin: 0.5em 0 0.5em 1em !important;
	@include success-table-btn();
}

.success-table-single-btn {
	margin: 0.5em 0 0.5em 3em !important;
	@include success-table-btn();
}


.jqx-table-btn {
	.jqx-button {
		background-color: $app-primaryColor !important;
		color: white !important;
		cursor: pointer !important;
	}
}

.app-info {
	.header {
		font-weight: 700 !important;
	}
}

@mixin setupDropdown {
	.noScroll {
		display: contents !important;
		// max-height: 34rem !important;
		// height: auto !important;
	}

	.noTopBorder {
		border-top: none !important;
	}

	.header {
		margin: 1rem 0 0.2rem !important;
		padding: 0 1.14285714rem 0.5rem 0.4rem !important;
		font-size: 0.8571429em !important;
		font-weight: 700 !important;
		border-bottom-style: groove !important;
		border-bottom-color: #35008b33 !important;
		border-bottom-left-radius: inherit !important;
		border-bottom-right-radius: inherit !important;
		border-bottom-width: thin !important;
	}

	.noTopPadding {
		padding-top: 0 !important;
	}

	.noBottomPadding {
		padding-bottom: 0 !important;
	}
}

.setup-dropdown {
	min-width: 500px !important;
	@include setupDropdown();
}

.setup-dropdown-one-column {
	min-width: 250px !important;
	@include setupDropdown();
}

.setup-modal {
	h3 {
		margin: 0 0 0.5em !important;
		color: $app-titleColor !important;
		font-family: $fontFamily;
		position: relative;
		font-weight: 600 !important;
	}

	.ui.table {
		font-size: 0.9em !important;
	}

	// .ui.inverted.button {
	// 	background-color: transparent;
	// 	box-shadow: 0 0 0 2px $app-primaryColor inset !important;
	// 	color: $app-primaryColor !important;
	// }

	// .ui.inverted.button:hover .button:hover {
	// 	background-color: $app-primaryColor !important;
	// }
}

.designer-table {
	.ui.table {
		font-size: 0.85em !important;
	}
}

.site-main-setup {
	padding: 3rem 1.5rem;
	background: rgba(0, 0, 0, 0.03);
	min-height: 768px;
}

.setup-main {
	margin-top: 1rem;
	h4 {
		margin: 0 0 0.4em !important;
	}
}

.ui.scrolling.modal,
.ui.active.modal {
	margin: 1.8rem auto !important;
}

.scrollable-table-body {
	max-height: 420px !important;
	overflow-y: scroll !important;
}

.setup-cards {
	.ui.cards {
		margin-top: 0.2em !important;
	}
	a {
		color: black;
	}
}

.pagination-select {
	padding: 0 !important;
	.ui.selection.dropdown {
		min-width: auto;
		.item {
			border-top: 1px solid #fafafa;
			padding: 0.78571429rem 1.14285714rem !important;
			white-space: normal;
			word-wrap: normal;
		}
	}
}

.ui.selection.dropdown.filter-column {
	min-width: auto;
	padding: 0.78571429em 1em;
}
