.profile-image-div {
	height: 100px;
	width: 100px;
	border: 1px solid #00000038;
	justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;

	.img {
		align-self: center;
	}
}

.pdf-preview {
	width: 43px !important;
	height: auto !important;
}

.certificate-image {
	height: 100px !important;
	width: 100px !important;
	border: 1px solid #000 !important;
	// float: right;
}

.certificate-logo {
	height: 100px !important;
	width: 100px !important;
}

.certificate-logo-small {
	height: 80px !important;
	width: 80px !important;
}

.certificate-logo-big {
	width: 130px !important;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.flex-item-right {
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
}

.margin-bottom {
	margin-bottom: 10px;
}

.margin-top {
	margin-top: 10px;
}

.flex-item-space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.flex-item-middle-grow {
		flex: 2 1 auto;
	}

	.flex-item-left {
		width: 200px;
	}

	.flex-item-left-margin {
		width: 180px;
		// margin-left: 20px;
	}

	.flex-item-left-margin-self-top {
		width: 180px;
		// margin-left: 20px;
		align-self: flex-start;
	}

	.self-top {
		align-self: flex-start;
	}

	.self-bottom {
		align-self: flex-end;
	}

	.flex-item-right {
		width: 200px;
	}

	.flex-item-right-margin {
		display: flex;
		flex-direction: column;

		div {
			align-self: flex-end;
		}
		width: 180px;
		// padding-right: 20px;
	}
}

.flex-container-flex-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.item {
		padding-left: 1em;
	}
}