.letterHead {
	text-align: center;
	position: relative;
	margin-bottom: 2em;
	.heading {
		margin: 1rem 0 1rem !important;
		color: #e6130b !important;
		div {
			margin: 0.5em 0 !important;
		}
		span {
			padding: 0;
			line-height: 1.5em;
			display: block;
		}
		.nepal-sarkar-logo {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0;
			width: 6rem;
		}
		.illam-logo {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0;
			width: 9rem;
		}

		.large {
			font-size: 2em;
		}
		.medium {
			font-size: 1.5em;
		}
		.small {
			font-size: 1em;
		}

		.no-color {
			color: black !important;
		}
		.bold {
			font-weight: bold;
		}
	}
	address {
		font-style: normal;
		margin: 0 0 1rem;
		h3 {
			margin: 0 0 0.5rem !important;
		}
	}
}

.letterHead-compact {
	text-align: center;
	.heading {
		margin: 0 0 0.7rem !important;
		color: #e6130b !important;
		div {
			margin: 0.25em 0 !important;
		}
		span {
			padding: 0;
			line-height: 1.5em;
			display: block;
		}
		.nepal-sarkar-logo {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0;
			width: 1rem;
		}
		.illam-logo {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0;
			width: 9rem;
		}

		.large {
			font-size: large;
		}
		.medium {
			font-size: medium;
		}
		.small {
			font-size: x-small;
		}

		.no-color {
			color: black !important;
		}
		.bold {
			font-weight: bold;
		}
	}
	address {
		font-style: normal;
		margin: 0 0 1rem;
		h3 {
			margin: 0 0 0.5rem !important;
		}
	}
}

.head1 {
	font-size: 0.9rem !important;
	margin-top: -37px !important;
	font-weight: 600 !important;
}

.illam-slogan {
	font-size: 0.9rem !important;
	font-weight: 600 !important;
}

.headname {
	font-size: 1.8rem !important;
	margin-top: -17px !important;
	font-weight: 600 !important;
}

.headorg {
	font-size: 1.8rem !important;
	font-weight: 600 !important;
	margin-top: -11px !important;
}

.birtamod-heading {
	font-size: 2.5rem !important;
	font-weight: 600 !important;
}

.birtamod-heading-address {
	font-size: 1.5rem !important;
	font-weight: 600 !important;
}

.headAdd {
	font-size: 1rem !important;
	font-weight: 600 !important;
	margin-top: -17px !important;
}

.headAdd-color h3,
.headAdd-color h4 {
	color: #e6130b !important;
	font-weight: 600 !important;
}

.certificate-sub-heading {
	p {
		font-weight: bold !important;
		text-align: center;
		margin: 0 !important;
	}
	.red {
		color: #e6130b !important;
	}

	.big {
		font-size: 2.3rem !important;
	}

	.medium {
		font-size: 1.45rem !important;
	}

	.small {
		font-size: 1.2rem !important;
	}

	.tiny {
		font-size: 1em !important;
	}

	.underline {
		text-decoration: underline;
	}
}

.right-date {
	// float: right;
}
