@import 'style';

.ui.form .field > label {
  padding-top: 20px;
}

// .ui.button {
//   margin-top: 20px;
// }

.mainContent-front {
  padding: 5.9rem 0 4.8rem;
}

.main-heading {
  color: red !important;
  text-align: center;
}

// CSS FOR HOME PAGE CONTENT DESIGN
// --------------------------------------------------------------------------
.content-download {
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.col-header-download {
  font-size: 1.6rem;
  color: #2a3554;
  padding-bottom: 3px;
  border-bottom: 1px dashed #9e9e9e;
  font-weight: bold;
}

.download-content {
  padding-top: 5px;
}

.faq-header {
  font-size: 1.25rem;
  color: #1a88b5;
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-data {
  font-size: 1rem;
  line-height: 1.42857143;
  color: #333;
}
// ------------------------------------------------------------------

.ui.ebpsMain-header {
  background: #811517 !important;
  z-index: 999 !important;
  .item:first-child {
    padding: 0 1.14285714em;
  }
  .ui.header {
    padding: 8px 0 5px;
    .comp-logo {
      display: inline-flex;
      width: 32px;
      vertical-align: middle;
      margin: 0 5px 0 0;
      position: relative;
      top: -2px;
    }
    a {
      color: #fff;
    }
  }
}

.site-footer {
  text-align: center;
  padding: 0.65rem 0;
  background: #811517;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  font-size: 1rem;
}

.adminLogin-form {
  .button {
    position: relative;
    .ui.inline.loader {
      position: absolute;
      margin: -12px 0 0;
      left: auto;
      top: 50%;
      right: 12px;
    }
  }
}

.main-sidebar-navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 42px 0;
  background: #631012;
  // background: #1B1C1D;
  width: 250px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  .sidebar-navigation {
    flex: 1;
    overflow-y: scroll;
    padding: 20px;
    .sidebar-primary-menus {
      li {
        list-style-type: none;
        display: block;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.5);
        a {
          display: block;
          padding: 4px 0;
          color: rgba(255, 255, 255, 0.5);
          &:hover,
          &.active {
            color: #fff;
          }
        }
        &.has-children {
          position: relative;
          .has-item-children {
            color: #fff;
          }
          ul {
            background: #6f2624;
            padding: 0 15px;
          }
          .sub-toggle {
            position: absolute;
            top: 6px;
            right: 0;
            font-size: 20px;
            line-height: initial;
            background: #440604;
            padding: 0 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
  + .site-main {
    margin-left: 250px;
  }
}

.site-main {
  padding: 4.8rem 1.5rem;
}

.information-bar {
  color: #fff;
  .ui.segment {
    background: #671b50;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.6);
  }
  .infoBarTitle {
    p {
      margin: 0 !important;
      padding: 7px 0 0;
    }
  }
  .tableListFilterMenu {
    text-align: right;
    .ui.menu {
      border: none;
      box-shadow: none;
      border-radius: 0;
      min-height: inherit;
      display: block;
      background: none;
      a {
        display: inline-block;
        padding: 4px 15px;
        color: #fff;
        background: #9e2f7d;
        border-radius: 4px;
        margin: 0 5px;
        &:hover,
        &:focus {
          background: #c2409b;
          color: #eee;
        }
      }
    }
  }
}

.nepalGov-logo {
  display: inline-flex;
  width: 120px;
  vertical-align: middle;
  margin: 0 5px 0 0;
  position: relative;
}

.mapRegistration-dataTableList {
  padding: 1.5rem 0 0;
  .ui.form {
    text-align: right;
    margin: 0 0 1.5rem;
    z-index: 999;
  }
}

.buildingPermit-applicationForm {
  padding: 4rem 0 0;
  .ui.form {
    .equal {
      display: inline-block;
      width: 25%;
      margin: 0;
      vertical-align: top;
      .field > span {
        display: block;
        margin: 0 0 0.2rem;
      }
    }
    .select-forForm {
      display: inline-block;
      min-width: 8rem;
      margin: 0 1rem 0.7rem 0;
      .equal {
        width: auto;
        margin: 0;
      }
    }
  }
  .app-subjectTitle {
    text-align: center;
  }
  .mohodaye {
    display: block;
    margin: 0 0 1rem;
  }
  .formFeild-mainLabel {
    margin: 1rem 0 1rem !important;
  }
  .sewageMgmt {
    margin: 0.3rem 0 1.2rem;
  }
}

.buildingPermit-view {
  padding: 0.5rem 0 0;
  .ui.form {
    .equal {
      display: inline-block;
      width: 25%;
      margin: 0 0 1.2rem;
      vertical-align: top;
      .field > span {
        display: block;
        margin: 0 0 0.2rem;
      }
    }
    .select-forForm {
      display: inline-block;
      min-width: 8rem;
      margin: 0 1rem 0.7rem 0;
      .equal {
        width: auto;
        margin: 0;
      }
    }
  }
  .app-subjectTitle {
    text-align: center;
  }
  .mohodaye {
    display: block;
    margin: 0 0 1rem;
  }
  .formFeild-mainLabel {
    margin: 1rem 0 1rem !important;
  }
  .sewageMgmt {
    margin: 0.3rem 0 1.2rem;
  }
}

.anusuchika-Form {
  .select-forForm {
    display: inline-block;
    min-width: 8rem;
    margin: 0 1rem 0.7rem 0;
  }
}

.anusuchiga-Form {
  .select-forForm {
    display: inline-block;
    min-width: 8rem;
    margin: 0 1rem 0.7rem 0;
  }
}

.view-Form {
  .select-forForm {
    display: inline-block;
    min-width: 8rem;
    margin: 0 1rem 0.7rem 0;
  }
}

.anusuchigha-Form {
  .select-forForm {
    display: inline-block;
    min-width: 8rem;
    margin: 0 1rem 0.7rem 0;
  }
}

.mapTech-Form {
  .select-forForm {
    display: inline-block;
    min-width: 8rem;
    margin: 0 1rem 0.7rem 0;
  }
}

.floorDetails-Form {
  .select-forForm {
    display: inline-block;
    min-width: 8rem;
    margin: 0 1rem 0.7rem 0;
  }
}

.municipal-header-view {
  color: red;
  font-size: 35px;
  margin-left: 20rem;
  white-space: nowrap;
  font-weight: 1000;
}

.municipal-subheader-view {
  color: red;
  font-size: 18px;
  margin-left: 22.5rem;
  white-space: nowrap;
  font-weight: 500;
}

.municipal-subheader_2-view {
  color: red;
  font-size: 13px;
  margin-left: 25rem;
  white-space: nowrap;
  font-weight: 200;
}

.frmCheckbox-wrap {
  padding: 0 0 1.2rem;
  > span {
    margin: 0 1rem 0 0;
  }
  .checkbox {
    margin: 0 1rem 0 0;
  }
}

.frmRadioButton-wrap {
  padding: 0;
  > span {
    margin: 0 1rem 0 0;
  }
  .checkbox {
    margin: 0 1rem 0 1.8rem;
  }
}

.buildingPermit-applicationForm .ui.form .frmCheckbox-wrap .equal {
  margin: 0;
  vertical-align: middle;
}

.EbpsCustomSelect {
  .ui.selection.dropdown {
    width: 100%;
  }
}

.sewageMgmt {
  span {
    vertical-align: -webkit-baseline-middle;
  }
}

.elecMgmt {
  span {
    vertical-align: -webkit-baseline-middle;
  }
}

.buildingPermit-applicationForm {
  .ui.form {
    .petitionerDetails {
      .petitionerSignature {
        margin: 0 0 1.2rem;
      }
      .equal {
        padding: 0 1em 0 0;
        .field {
          padding: 0;
          > span {
            display: inline-block;
            margin: 0;
            min-width: 25%;
            vertical-align: middle;
          }
        }
        .bpf-inputType {
          display: inline-block;
          margin: 0;
          width: 75% !important;
          vertical-align: middle;
        }
      }
    }
  }
}

////////////NayaJhanchPachiForm//////////
.NJ-Main {
  padding: 2rem;

  .NJ-header {
    padding-bottom: 2rem;
    text-align: left;
  }

  .NJ-title {
    text-align: center;
  }

  .NJ-right {
    display: flex;
    justify-content: flex-end;

    label {
      transform: translateY(0.7rem);
      padding-right: 1rem;
    }

    input[type='date']::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}

.NayaJhanchPachi {
  margin-bottom: 4rem;

  .checkbox {
    margin-right: 1rem;
  }

  input:focus {
    border: 1px solid rgba(34, 36, 38, 0.85) !important;
  }
}

.ui.form {
  .archDesign-classBForm {
    .inline.fields {
      margin: 0;
    }
  }
}

.rajaswoDetailViewFormWrap {
  .ui.form .fields {
    margin: 0;
  }
  .rajaswoMain-heading {
    text-align: center;
    margin-bottom: 1.4rem !important;
  }
  .rajasoMain-desc {
    text-align: center;
    padding: 0 20rem;
    margin-bottom: 3rem !important;
  }
  .rajaswoForm-wrap {
    > h3 {
      text-align: center;
    }
    .ui.form .fields {
      margin: 0;
    }
    .ui.tableFirst {
      margin-bottom: 0;
    }
    .ui.tableSecond {
      margin-top: 0;
      border-top: none;
      > tr td {
        border-top: none;
      }
    }
    .rajaswosSubForm {
      margin: 0 0 1rem;
      border: 1px solid rgba(34, 36, 38, 0.15);
      padding: 1rem;
      &.forRajaswoOffice,
      &.forLawOffice {
        h3 {
          text-align: center;
        }
      }
      .inline.fields,
      p {
        margin: 0 !important;
      }
      textarea {
        resize: none;
        height: 8rem !important;
        border: 1px dashed rgba(34, 36, 38, 0.5);
        &:focus {
          border-color: rgba(34, 36, 38, 0.5);
        }
      }
    }
    h3 {
      margin: 0 0 1.4rem !important;
      span {
        border-bottom: 2px solid coral;
        padding: 0 0 0.2rem;
      }
    }
  }
}

.ui.form .dashedForm-control {
  padding: 0 0.8rem;
  input[type='text'] {
    border: none;
    border-bottom: 1px dashed rgba(34, 36, 38, 0.5);
    border-radius: 0;
    padding: 0;
    display: inline-block;
    width: auto;
    &:focus {
      border-radius: 0;
      border-color: rgba(34, 36, 38, 0.5);
    }
  }
}

.ui.form .dashedForm-control[type='text'] {
  margin: 0 0.8rem;
  border: none;
  border-bottom: 1px dashed rgba(34, 36, 38, 0.5);
  border-radius: 0;
  padding: 0;
  display: inline-block;
  width: auto;
  &:focus {
    border-radius: 0;
    border-color: rgba(34, 36, 38, 0.5);
  }
}

div#contenttableJqxDataTablejqx46b85cbc5251 table tbody tr {
  cursor: pointer !important;
  &:hover td {
    color: #2385d0 !important;
    background: rgba(0, 0, 0, 0.04) !important;
  }
}

.noticePayAppForomWrap {
  .noticePay-heading {
    text-align: center;
    span {
      border-bottom: 2px solid coral;
      padding: 0 0 0.2em;
    }
  }
  .appToDesc {
    margin: 0 0 3rem;
  }
  .ui.form .sandhiyarGrid-wrap {
    h3 {
      margin: 1.4rem 0 !important;
      span {
        border-bottom: 2px solid coral;
        padding: 0 0 0.2em;
      }
    }
    .inline.fields {
      margin: 0;
    }
  }
  .sachivArea {
    float: right;
    margin: 0 0 0.8em;
  }
  p.tanMuchulkaFooter {
    clear: right;
  }
}

.ui.labeled.input input.smallInput {
  width: 80px;
}

ui.form .field .ui.input,
.ui.form .fields .field .ui.input,
.ui.form .wide.field .ui.input.smallInputDiv {
  width: 80px !important;
}

.tablewidth {
  width: 180px !important;
}

.firstalign {
  display: flex;
  justify-content: space-between;
}

.noteOrderPilenth-wrap {
  .tipandi-letterHead {
    text-align: center;
    .tipandiMain-heading {
      margin: 0 0 1rem !important;
      color: #e6130b !important;
      span {
        padding: 0 22rem;
        display: block;
      }
      .nepal-sarkar-logo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        width: 6rem;
      }
    }
    address {
      font-style: normal;
      margin: 0 0 1rem;
      h3 {
        margin: 0 0 0.5rem !important;
      }
    }
    .tipandi-title {
      margin: 0 0 1.2rem !important;
      span {
        border-bottom: 2px solid coral;
      }
    }
  }
  .tipandi-date {
    text-align: right;
    margin: 0 0 1rem;
  }
  .orgName {
    text-align: center;
    margin: 0 0 1.8rem !important;
  }
  h3.tipandiSubject {
    text-align: center;
    margin: 0 0 3rem !important;
    span {
      border-bottom: 2px solid coral;
      padding: 0 0 2px;
    }
  }
  .mainTipandi-content {
    line-height: 2.3rem !important;
  }
  .letter-Footer {
    float: right;
    list-style-type: none;
    padding: 1rem 0;
    li {
      padding: 0 0 0.5rem;
      span {
        min-width: 3rem;
        display: inline-block;
      }
    }
  }
  .sandhiyarFooter {
    margin: 0 0 1.5rem;
    clear: both;
    h3 {
      margin: 0 0 0.8rem !important;
    }
    ul {
      list-style-type: none;
      li {
        padding: 0 0 0.5rem;
        span {
          min-width: 3rem;
          display: inline-block;
        }
      }
    }
  }
}

.borderlessFieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.pilenthLevelTechViewWrap {
  .ui.form {
    ol {
      list-style-type: none;
      margin: 0 0 1.25rem;
      li {
        margin: 0 0 0.5rem;
        .dashedForm-control[type='text'] {
          width: 100%;
        }
      }
    }
    .inline.field > :first-child {
      padding: 0 !important;
    }
  }
  .pilenthTech-headingFirst,
  .pilenthTech-headingSecond {
    text-align: center;
    margin: 0 0 1.5rem !important;
    span {
      border-bottom: 2px solid coral;
      padding: 0 0 0.2rem;
    }
  }
}

span.ui.input.dashedForm-control {
  border-bottom: 1px dashed rgba(34, 36, 38, 0.5);
  min-width: 150px;
  margin: 0 0.8rem;
  line-height: 1.21428571em;
  padding: 0;
}

.historyContent-wrap {
  position: fixed;
  background: #fff;
  top: 0;
  right: 0;
  max-width: 300px;
  height: 100%;
  z-index: 9999;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  .historyTrigger {
    position: absolute;
    top: 50%;
    right: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50% 0 0 50%;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 14px;
    color: coral;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      width: 15px;
      height: 100%;
      background: #ffffff;
    }
    i {
      margin: 0;
    }
  }
  .mainHistoryContent {
    padding: 1rem 1.5rem;
    h3 {
      border-bottom: 2px solid coral;
      padding: 0 0 0.15rem;
      margin: 0 0 1.5rem !important;
    }
  }
}

.sdcbFormContentWrap {
  .ui.form {
    .field {
      margin: 0 0 0.2rem;
    }
    .ui.checkbox {
      margin: 0 0.8rem 0 0;
    }
    .checkboxWithInputField {
      strong {
        color: rgba(0, 0, 0, 0.87);
      }
      .dashedForm-control[type='text'] {
        width: 52px;
        margin: 0 4px;
        text-align: center;
      }
    }
  }
  .ui.table {
    &.sdcbFirstTable,
    &.sdcbSecondTable,
    &.sdcbThirdTable,
    &.sdcbFourthTable,
    &.sdcbFifthTable,
    &.sdcbSixthTable {
      margin: 0;
      border-bottom: none;
    }
  }

  .ui.table.sdcbSeventhTable {
    margin-top: 0;
  }
  .sdcbForm-heading {
    margin: 0 0 3rem;
    h3,
    h5 {
      margin: 0 0 1rem !important;
      span {
        border-bottom: 2px solid coral;
        padding: 0 0 0.2rem;
      }
    }
  }
}

.sanitPlum-topHeading{
  text-align: center;
  h3, h4{
    margin: 0 0 1rem !important;
    span{
      padding: 0 0 0.1rem;
      border-bottom: 2px solid coral;
    }
  }
}
