$pronova-regular: 'ProximaNova-Regular';
$pronova-semibold: 'ProximaNova-Semibold';
$pronova-bold: 'ProximaNova-Bold';

@font-face {
    font-family: $pronova-regular;
    src:url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/ProximaNova-Regular.woff') format('woff'), 
        url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), 
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $pronova-semibold;
    src:url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/ProximaNova-Semibold.woff') format('woff'), 
        url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'), 
        url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $pronova-bold;
    src:url('./../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  
        url('./../fonts/ProximaNova-Bold.woff') format('woff'), 
        url('./../fonts/ProximaNova-Bold.ttf')  format('truetype'),
        url('./../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
  