@import 'fonts';

$app-fontSize: 16px;
$app-fontWeight: normal;
$app-primaryColor: #9674CF;
$app-primaryDarkColor: #7f5fb5;
$app-secondaryColor: #18bbcb;
$app-textColor: #6f7f9f;
$app-titleColor: #2a3554;
$app-placeholderColor: #a2afcd;
$app-strokeColor: #d7dfef;
$btn-primaryColor: #ffffff;
$btn-secondaryColor: #4d5786; 
$border-strokeColor: #dfe6f4;
$app-lineHeight: 1.5em;
$app-dangerColor: #ed3445;
$app-infoColor: #6080f9;

@mixin transition {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

@mixin site-btn {
    padding: 0.3em 1.875em;
    font-size: 0.94em;
    text-transform: uppercase;
    font-family: $pronova-semibold;
    background: $app-primaryColor;
    color: $btn-primaryColor;
    border: none;
    border-radius: 3.13em;
    min-width: 9.31em;
}

body {
    font-family: $pronova-regular, 'Helvetica-Nue', 'helvetica', Arial, sans-serif !important;
    font-size: $app-fontSize !important;
    font-weight: $app-fontWeight !important;
    line-height: $app-lineHeight !important;
    color: $app-textColor !important;
    background: none;
}

a {
    color: $app-secondaryColor;
    text-decoration: none;
    @include transition();
    &:hover,
    &:focus {
        text-decoration: none;
        color: $app-titleColor;
        outline: none;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1.88em !important;
    color: $app-titleColor !important;
    font-family: $pronova-bold !important;
    position: relative;
    font-weight: normal !important;
}

h1 {
    font-size: 2.25em !important;
}

h2 {
    font-size: 1.5em !important;
}

h3 {
    font-size: 1.125em !important;
}

h4 {
    font-size: 1em !important;
}

h5 {
    font-size: 0.938em !important;
}

h6 {
    font-size: 0.875em !important;
}

p {
    line-height: 1.5em !important;
    margin: 0 0 1.25em !important;
}

ul,
ol,
figure,
address {
    margin: 0;
    padding: 0;
}

strong,
label {
    font-weight: $app-fontWeight;
    font-family: $pronova-semibold;
    color: $app-titleColor;
    font-weight: normal !important;
    span{
        font-family: $pronova-regular;
        color: $app-textColor;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

.site-btn {
    @include site-btn();
    &:hover,
    &:focus{
        background: $app-primaryDarkColor;
        border-color: $app-primaryDarkColor;
        color: #fff;
        box-shadow: none;  
        outline: none;  
    }
}